.vscode
__pycache__
analysis_scripts/MADH-od2_dft2svp_step100_disp500_num100.pkl
analysis_scripts/MADH-od2_dft2svp_step200_disp500_num100.pkl
ConstructingC/madh-od2_step100_disp500/MADH-od2_dft2svp_step100_disp500_num100.pkl
MATLAB/plots/*/results*.mat


*.asv
*.asv
*.pyc
